[core]
  editor = vim
  pager = less -ErX

[push]
  default = nothing

[alias]
  reset-permissions = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply

[color]
  ui = auto

[color "branch"]
  current = green reverse
  local = green
  remote = yellow

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[diff]
  tool = meld

[difftool "meld"]
  cmd = meld "$LOCAL $REMOTE"

[init]
  defaultBranch = main

[rebase]
  autosquash = true

[user]
  useConfigOnly = true

[include]
  path = ~/.gitconfig.local
